* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "NanumSquare_acR", "Spoaq Han Sans Neo", "Sans-serif";
}

/* a tag init */

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.main {
  max-width: 736px;
  margin: 0 auto;
  background-color: #eff1f0;
}

.main-container {
  margin-top: 80px;
  /* background-color: #07598c; */
  border-radius: 5px;
  box-shadow: 3px 15px 10px 1px rgba(25, 42, 70, 0.2);
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

/* inner class */

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* header css */
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  background-color: #969691;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.7rem;
}

/* head > head title css style*/
.head-title {
  color: #ebeff3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-title .title-first {
  font-size: 2rem;
}

/* head day css style*/

.head-today {
  color: #ebeff3;
  display: flex;
  flex-direction: column;
}

.head-today .month-day {
  font-weight: bold;
  font-size: 1.5rem;
}

.head-today .year {
  font-size: 1.1rem;
}

/* head menu button css style */

.head-menu-btn .menu-btn-style {
  font-size: 1.7rem;
  color: #ebeff3;
}

.head-menu-btn .menu-btn-style:active {
  font-size: 1.5rem;
}

/* menu css style */
.menu {
  display: none;
}

/* main-container in donedo list card css style */

.donedo-list-container {
  width: 100%;
  margin-top: 2rem;
}

.donedo-card-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
}

.donedo-card {
  height: 70px;
  background-color: #968c87;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 7px 7px 7px 1px rgba(2, 29, 39, 0.3);
}

.donedo-item-container {
  height: 100%;
  padding: 0 15px;
  font-size: 1.3rem;
  color: #ebeff3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.donedo-categary {
  display: flex;
  align-items: center;
}

.donedo-category-icon {
  font-size: 1.2rem;
  padding: 0 15px;
  color: #fff;
}

.donedo-card-add {
  height: 70px;
  background-color: #968c87;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 7px 7px 7px 1px rgba(2, 29, 39, 0.3);
  opacity: 0.3;
  border-style: dotted;
}

.donedo-add-container {
  height: 100%;
  padding: 0 15px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #ebeff3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.donedo-card-add:hover {
  opacity: 0.8;
}

.delete-btn {
  border: none;
  background-color: #968c87;
}

/* modal */
.modal {
  width: 400px;
  height: 200px;
  background-color: #000000;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
  opacity: 0.7;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queary */

@media only screen and (min-width: 980px) {
  .inner {
    max-width: 800px;
  }
}

@media only screen and (max-width: 980px) {
  .inner {
    padding: 0;
  }
}

/* font */

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.jejumyeongjo * {
  font-family: "Jeju Myeongjo", serif;
}

@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare_acR";
  src: url("../fonts/NanumSquare_acR.ttf");
  font-weight: normal;
  font-style: normal;
}
